<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl-PL">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/styles.css"/>
  <script src="https://kit.fontawesome.com/6f884c792c.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <title>Information</title>
  <script type="text/javascript" th:inline="javascript">


   // Load the Visualization API and the corechart package.
        google.charts.load('current', {'packages':['corechart']});

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart() {

            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'date');
            data.addColumn('number', '[[${chartUnit}]]');
           // data.addRows([
             //   ['Mushrooms', 3],
               // ['Onions', 1],
                //['Olives', 1],
               // ['Zucchini', 1],
               // ['Pepperoni', 2]
           // ]);
           data.addRows([[${chartData}]]);
            // Set chart options
            var options = {'title':'[[${chartTitle}]]',
                'width':400,
                'height':300};

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
        </script>
</head>
<body>
<header>
  <div class="icon"><i class="fas fa-laptop-medical"></i></div>
  <div>
    <h1><a th:href="@{/}">Electronic Patient Card</a></h1>
  </div>
  <div>
    <h3><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">About</a></h3>
  </div>

</header>



<h2><a th:href="@{/patients}">Patients</a></h2>

<div id="nav">
  <form th:action="@{'{id}'(id=${patient.getId()})}" method="get">
    <input type="date"  id="start" name="start" th:value="${startDate}">
    <input type="date" id="end" name="end" th:value="${endDate}">
    <input type="submit">
  </form>
</div>

<table>
  <tr>
    <th colspan="2">Patient</th>
  </tr>
  <tr>
    <th>Name</th>
    <td th:text="${patient.getName()}"></td>
  </tr>
  <tr>
    <th>Id</th>
    <td th:text="${patient.getId()}"></td>
  </tr>
  <tr>
    <th>Gender</th>
    <td th:text="${patient.getGender()}"></td>
  </tr>
  <tr>
    <th>Birth date</th>
    <td th:text="${patient.getBirthDate()}"></td>
  </tr>
  <tr>
    <th colspan="2">Identifiers</th>
  </tr>
  <tr>
    <th>Code</th>
    <th>Full name</th>
  </tr>
  <tr th:each="identifier: ${patient.getIdentifier()}">
    <td th:text="${identifier.getValue()}"></td>
    <td th:text="${identifier.getText()}"></td>
  </tr>
</table>

<table>
  <tr>
    <th colspan="6">Observations</th>
  </tr>
  <tr>
    <th>Id</th>
    <th>Date</th>
    <th>Value</th>
    <th>Unit</th>
    <th>Code</th>
    <th>Display</th>
  </tr>
  <tr th:each="obs : ${observations}">
    <td th:text="${obs.getId()}"></td>
    <td th:text="${obs.getDate()}"></td>
    <th:block th:if="${obs.getSimpleValueQuantity() != null}"><td th:text="${obs.getSimpleValueQuantity().getValue()}"></td></th:block>
    <th:block th:unless="${obs.getSimpleValueQuantity() != null}"><td>NaN</td></th:block>
    <th:block th:if="${obs.getSimpleValueQuantity() != null}"><td th:text="${obs.getSimpleValueQuantity().getUnit()}"></td></th:block>
    <th:block th:unless="${obs.getSimpleValueQuantity() != null}"><td>NaN</td></th:block>
    <th:block th:each="coding : ${obs.getCodingDisplays()}">
      <td th:text="${coding.getCode()}"></td>
      <td th:text="${coding.getDisplay()}"></td>
    </th:block>
  </tr>
</table>

<table>
  <tr>
    <th colspan="2">Medication requests</th>
  </tr>
  <tr>
    <th>No</th>
    <th>Display</th>
  </tr>
  <tr th:each="medication, stat : ${medications}">
    <td th:text="${stat.count}"></td>
    <td th:each="display : ${medication.displays}" th:text="${display}"></td>
  </tr>
</table>
<div id="chart_div"></div>
<br>
</body>
</html>