<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl-PL">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/mystyle.css"/>
  <link rel="stylesheet" href="/menuStyle.css">
  <link rel="stylesheet" href="/dataStyle.css">
  <title>Information</title>
</head>
<body>
<h1><a th:href="@{/}">Electronic Patient Card</a></h1>


<h3><a th:href="@{/patients}">Patients</a></h3>


<table>
  <tr>
    <th>No.</th>
    <th>Id</th>
    <th>Name</th>
    <th>Gender</th>
    <th>Birth date</th>
  </tr>
  <tr th:each="patient, stat : ${patients}">
    <td th:text="${stat.count}"></td>
    <td th:text="${patient.getId()}"></td>
    <td th:text="${patient.getName()}"></td>
    <td th:text="${patient.getGender()}"></td>
    <td th:text="${patient.getBirthDate()}"></td>
    <td><a th:href="@{/patient/{id}(id=${patient.getId()})}">Select</a>
    </td>
  </tr>
</table>

</body>
</html>
