<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl-PL">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/mystyle.css"/>
  <link rel="stylesheet" href="/menuStyle.css">
  <link rel="stylesheet" href="/dataStyle.css">
  <title>Information</title>
</head>
<body>
<h1><a th:href="@{/}">Electronic Patient Card</a></h1>


<h3><a th:href="@{/patients}">Patients</a></h3>


<table>
  <tr>
    <th colspan="2">Patient</th>
  </tr>
  <tr>
    <th>Name</th>
    <td th:text="${patient.getName()}"></td>
  </tr>
  <tr>
    <th>Id</th>
    <td th:text="${patient.getId()}"></td>
  </tr>
  <tr>
    <th>Gender</th>
    <td th:text="${patient.getGender()}"></td>
  </tr>
  <tr>
    <th>Birth date</th>
    <td th:text="${patient.getBirthDate()}"></td>
  </tr>
  <tr>
    <th colspan="2">Identifiers</th>
  </tr>
  <tr>
    <th>Code</th>
    <th>Full name</th>
  </tr>
  <tr th:each="identifier: ${patient.getIdentifier()}">
    <td th:text="${identifier.getValue()}"></td>
    <td th:text="${identifier.getText()}"></td>
  </tr>
</table>

<table>
  <tr>
    <th>Observations</th>
  </tr>
</table>


</body>
</html>
